<!doctype html>
<html ng-app="WCSHub">
    <head>
        <title>WCS Finals</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script src="/static/wcs.js"></script>
        <link href="/static/style.css" rel="stylesheet"/>
    </head>
    <body ng-controller="FinalsCtrl" id="finals_page">
        <div class="menu">
            <a href="/" id="base">WCS-Hub</a>
            <ul id="root_menu">
                <li>
                    <ul>
                        <li id="current"><a href="/">Register for an event</a></li>
                        <li><a href="/create_event/">Create event</a></li>
                    </ul>
                    <ul class="menu_heading"><li>Events</li></ul>
                </li>

                <li>
                    <ul>
                        <li><a href="/finals/">Finals</a></li>
                    </ul>
                    <ul class="menu_heading"><li>Competition tools</li></ul>
                </li>

                <li>
                    <ul>
                        <li><a href="https://github.com/boxed/WCS-Hub/">Source code</a></li>
                        <li ><a href="http://kodare.net/blog/">Kodare.net blog</a></li>
                    </ul>
                    <ul class="menu_heading"><li>About WCS-Hub</li></ul>
                </li>

            </ul>
        </div>

        <div class="container">
            <h1>Finals</h1>
            <button ng-click="addJudges()">Add judges</button>
            <button ng-click="removeJudges()" ng-hide="judges.length == 3">Remove judges</button>
            <form>
                <table>
                    <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Leader</th>
                            <th>Follower</th>
                            <th ng-repeat="judge in judges">J{{judge}}</th>
                            <th>Chief Judge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="couple in couples">
                            <td><input ng-model="couple.nr" pattern="\d*"/></td>
                            <td><input ng-model="couple.leader" class="name"/></td>
                            <td><input ng-model="couple.follower" class="name"/></td>
                            <td ng-repeat="judge in judges"><input ng-model="couple.scores[judge]" pattern="\d*"/></td>
                            <td><input ng-model="couple.chief_judge_score" pattern="\d*"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <div ng-repeat="error in errors">{{error}}</div>

            <div ng-hide="errors" ng-show="scores">
                <div ng-hide="errors">
                    <table class="tabular">
                        <thead>
                        <tr>
                            <th>Place</th>
                            <th>Nr</th>
                            <th>Leader</th>
                            <th>Follower</th>
                            <th ng-repeat="judge in judges">J{{judge}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="score in scores">
                            <td>
                                <ng-pluralize count="$index+1"
                                              when="{'1': '1st',
                                                    '2': '2nd',
                                                    '3': '3rd',
                                                    'other': '{}th'}">
                                </ng-pluralize>
                            </td>
                            <td>{{score.name.nr}}</td>
                            <td>{{score.name.leader}}</td>
                            <td>{{score.name.follower}}</td>
                            <td ng-repeat="score in score.judges_scores">{{score}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="space_above">
                    <button ng-click="showRP = true" ng-hide="showRP">Show Relative Placement Calculation</button>
                    <button ng-click="showRP = false" ng-show="showRP">Hide Relative Placement Calculation</button>
                </div>

                <div ng-show="showRP">
                    <h3>Relative Placement Calculation</h3>
                    <pre>{{ tabulation }}</pre>
                </div>
            </div>
        </div>
    </body>
</html>