<!doctype html>
<html ng-app="WCSHub">
    <head>
        <title>WCS-Hub</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script src="/static/wcs.js"></script>
        <link href="/static/style.css" rel="stylesheet"/>
    </head>
    <body ng-controller="RegistrationsCtrl" id="index_page">
        <div class="menu">
            <a href="/" id="base">WCS-Hub</a>
            <ul id="root_menu">
                <li>
                    <ul>
                        <li><a href="/">Register for an event</a></li>
                        <li><a href="/create_event/">Create event</a></li>
                    </ul>
                    <ul class="menu_heading"><li>Events</li></ul>
                </li>

                <li>
                    <ul>
                        <li><a href="/finals/">Finals</a></li>
                    </ul>
                    <ul class="menu_heading"><li>Competition tools</li></ul>
                </li>

                <li>
                    <ul>
                        <li><a href="https://github.com/boxed/WCS-Hub/">Source code</a></li>
                        <li ><a href="http://kodare.net/blog/">Kodare.net blog</a></li>
                    </ul>
                    <ul class="menu_heading"><li>About WCS-Hub</li></ul>
                </li>

            </ul>
        </div>

        <div class="container">
            <h1>Registrations for {{ event.name }}</h1>

            <div ng-repeat="(comp_name, registrations) in comps">
                <h3>{{ comp_name }}</h3>

                <table class="tabular">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Lead/follow</th>
                        <th>E-mail</th>
                    </tr>
                    <tr ng-repeat="registration in registrations">
                        <td>{{ registration.first_name }}</td>
                        <td>{{ registration.last_name }}</td>
                        <td>{{ registration.lead_follow }}</td>
                        <td>{{ registration.user }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>