html, body {
    height: 100%;
    font-family: 'helvetica neue';
    font-weight: 200;
    margin: 0;
}
h1, h2, h3, h4, th {
    font-weight: 200;
}
h1 {
    margin-top: 0;
}
input {
    width:  30px;
}
input.name {
    width:  100px;
}
.space_above {
    padding-top: 30px;
}
#placement table {
    border-spacing: 0;
    padding-top: 30px;
}
#placement td {
    text-align: center;
    padding: 0 20px;
    border-bottom: 1px solid lightgray;
}
#placement th {
    border-bottom: 1px solid black;
}
#container {
    padding: 15px 15px 75px;
    position: relative;
}
#footer {
    padding: 15px;
    height: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #e1d6e8;
}
