<div id="preview" style="float: right">
    <h1>Preview of sign up form</h1>
    <div id="preview-contents" data-ng-include data-src src="'/partials/sign_up.html'"></div>
</div>
<div>
    <h1>{{title}}</h1>

    <table>
        <tr><td><label for="name">Event name:</label></td><td><input id="name" ng-model="event.name" type="text" /></td></tr>
        <tr><td><label for="name">Description/extra information:</label></td><td><textarea id="name" ng-model="event.description" type="text"></textarea></td></tr>
        <tr><td><label for="event_date">Event start date:</label></td><td><input id="event_date" class="datepicker" ng-model="event.date" ui-date /></td></tr>
        <tr><td><label for="registration_opens">Registration opens:</label></td><td><input id="registration_opens" class="datepicker" ng-model="event.registration_opens" ui-date /></td></tr>
        <tr><td><label for="registration_closes">Registration closes:</label></td><td><input id="registration_closes" class="datepicker" ng-model="event.registration_closes" ui-date /></td></tr>
    </table>

    <table>
        <tr><td colspan="2"><h3>Available competitions</h3></td></tr>

        <tr>
            <th ng-repeat="(group, competitions) in event.competitions">
                {{ group }}
            </th>
        </tr>

        <tr>
            <td ng-repeat="(group, competitions) in event.competitions">
                <span ng-repeat="comp in competitions" checkbox ng-title="comp.name" ng-model="comp.show"></span>
            </td>
        </tr>
    </table>

    <br />

    <span class="button disabled" ng-hide="ok_to_save()">Save</span>
    <span class="button" ng-show="ok_to_save()" ng-click="save()">Save</span>

    {{ errors }}
</div>