<div ng-show="event">
    <h1>Register to compete at {{ event.name }}</h1>

    <p>{{ event.description }}</p>

    <table>
        <tr>
            <td><label for="id_first_name">First name:</label></td><td><input id="id_first_name" ng-model="first_name" type="text"/></td>
        </tr>
        <tr>
            <td><label for="id_last_name">Last name:</label></td><td><input id="id_last_name" ng-model="last_name" type="text"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="id_lead" ng-model="lead_follow" type="radio" value="lead"/> <label for="id_lead">Leader</label>
                <input id="id_follow" ng-model="lead_follow" type="radio" value="follow"/> <label for="id_follow">Follower</label>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <th ng-repeat="(group, competitions) in event.available_competitions()">
                {{ group }}
            </th>
        </tr>

        <tr>
            <td ng-repeat="(group, competitions) in event.available_competitions()">
                <span ng-repeat="comp in competitions" ng-show="comp.show">
                    <span checkbox ng-title="comp.name" ng-model="comp.value"></span>
                </span>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td>
                <span class="button disabled" ng-hide="ok_to_register()">Register</span>
                <span class="button" ng-show="ok_to_register()" ng-click="register()">Register</span>
            </td>
        </tr>
    </table>

    {{ errors }}

    <div ng-show="is_sign_up_preview" style="background-image: url('/static/images/striped_background.gif'); opacity: 0.1; width: 100%; height: 100%; position: absolute; top: 0; left: 0; padding-bottom: 10px">
    </div>
</div>